// Primary & Secondary

// Primary colours
$grey-000: #fafbfc;
$grey-900: #24292e;

// Secondary Colours
$yellow-500: #ffd33d;


// Accents

// Neutral
$blue-200: #c8e1ff;
$blue-800: #032f62;
$grey-100: #d1d5da;
$grey-500: #6a737d;

// Alerts
$green-300: #85e89d;
$green-500: #28a745;
$orange-300: #ffab70;
$orange-600: #e36209;
$red-200: #fdaeb7;
$red-600: #cb2431;