// Headings

$h1-size-desktop: 3rem;
$h1-size-mobile: 2rem;
$h2-size-desktop:3rem;
$h2-size-mobile: 2.5rem;
$h3-size-desktop: 1.75rem;
$h3-size-mobile: 1.25rem;
$heading-font-fam: 'Karla', sans-serif;
$heading-font-weight: 700;

// Body copy

$body-size: 1rem;